body
{text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: crimson;
}
#contenedor
{
    width: 70%;
    align-content: center;
    padding: 1em;
    text-align: center;
    border: 1px solid coral;
    margin: 0 auto;
}
#contenedor h1
{
    font-size: 32px;
}

#parrafo
{
font-size: 16;
background-color: rgb(224, 224, 224);
padding: 5px;
}